<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ruben.easytransport" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GestionDeRutas"
            android:label="@string/title_activity_gestion_de_rutas" >
        </activity>
        <fragment
            android:name=".VistaRutas"
            android:label="@string/title_activity_vista_rutas" >
        </fragment>
        <fragment
            android:name="AnadirAcuerdo"
            android:label="@string/title_activity_anadir_acuerdo" >
        </fragment>
    </application>

</manifest>
